<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostgreeSQL BREAD (Browse, Read, Edit, Add, Delete)</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/helpers/util.js"></script>
</head>
    
<body>
    <script src="/stylesheets/bootstrap.min.css"></script>
    <div class="container">
        <div class="groupTittle">
            <h1>
                <center class="title">Change Avatar</center>
            </h1>
        </div>
    <div class="groupForm">
    <form action="" method="post" encType="multipart/form-data">
    <div class="row mb-3">
        <label for="avatar" class="col-sm-2 col-form-label">Avatar</label>
        <div class="col-sm-10">
          <input type="file" name="avatar" class="form-control" accept="image/*" type='file' id="imgInp" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="avatar" class="col-sm-2 col-form-label">Preview</label>
        <div class="col-sm-10">
            <img id="blah" src="/images/originalavatar.png" alt="defaultavatar" width="300px" height="300px"/>
            <script> 
                imgInp.onchange = evt => {
                    const [file] = imgInp.files
                    if (file) {
                      blah.src = URL.createObjectURL(file)
                    }
                  }
                </script>
        </div>
      </div>
    </div>
      <div class="groupButton">
        <button type="submit" class="btn btn-info"><img src="/images/floppy-fill.svg"></button>
        <a href="/users" class="btn btn-warning"><img src="/images/arrow-repeat.svg"></a>
    </div>
    </form>
    </div>
</html>